.root {
    max-width: 350px;
    margin: auto;
    padding: 1em 2em;
    border-radius: 10px !important;
}

.rootSignup {
    width: auto;
    max-width: 40vw;
    margin: auto;
    padding: 1em 2em;
    border-radius: 10px !important;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em
}


.titleText {
    font-variant: small-caps;
    letter-spacing: 3px;
}

.googleBtn {
    width: 184px;
    height: 42px;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(255, 255, 255, 0.16);
    cursor: pointer;
    background-color: #000;

}

.googleBtn .googleIconWrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #000;
}

.googleBtn .googleIcon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    background-color: #000;

}

.googleBtn .btnText {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto", sans-serif !important;
}

/*.googleBtn:hover {*/
/*    box-shadow: 0 0 6px #4285f4;*/
/*}*/
.googleBtn:active {
    /*background: #1669F2;*/
    box-shadow: 0 0 6px #fff;

}

.form {
    margin: 2em auto;
}

.label {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.labelBlue {
    color: #3D4E98;
}

.textArea {
    resize: none;
    border-radius: 10px;
    width: 100%;
    display: flex;
    min-height: 100px;
    border: none;
    margin: 2% auto;
    padding: 1em !important;
    color: #3D4E98;
    background: #F6F6F6;
}

.textArea:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    outline: none;
}

.inputNoBorder {
    border: none !important;
    outline: none !important;
}

.inputNoBorder fieldset {
    border: none !important;
    outline: none !important;
}

.input {
    border-radius: 10px;
    width: 100%;
    display: flex;
    min-height: 50px;
    border: none;
    margin: 2% auto;
    padding: 1% 5% !important;
    color: #3D4E98;
    background: #F6F6F6;
}

.input:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    outline: none;
}

.input:disabled {
    opacity: .5;
}

.inputSelect {
    width: 100%;
    padding: 1% 0;
}

.inputSelect * {
    border: none !important;
    outline: none !important;
    content: '';

}

.inputSelect > div {
    padding: 2% 3%;
}

.inputSelect2 * {
    content: '' !important;

    color: #3D4E98 !important;
}

.inputSelect2 {
    padding: 0 !important
}

.inputSelect2 > div > div {
    padding: 0 !important
}

.inputSelect2 > svg {
    display: none;
}

.inputSelect:before {
    border: none !important;
    outline: none !important;
    content: '' !important;
}

.inputSelect:after {
    border: none !important;
    outline: none !important;
    content: '' !important;
}

.inputSelect2::after {
    border: none !important
}

.inputSelect2::before {
    border: none !important
}

.inputSelect2:before {
    border: none !important;
}

.inputText * {
    color: #3D4E98 !important;
}


.errorBorder {
    box-shadow: 0 0 0 1px red inset;
}


.divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dividerBorder {
    border-bottom: 1px solid #fff;
    width: 50px;
}

.dividerContent {
    color: #fff;
    padding: 0 10px 0 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.alignCenter {
    display: flex !important;
    justify-content: center;
}

.divider {
    height: 50px !important;
}

.buttonMargin {
    margin-right: 1em !important;
}


.div1 {
    width: 600px;
    align-content: center;
    justify-items: center;
    margin-top: 10px;
    background-color: #6f5ed4;
    border-radius: 10px;
    border: 2px solid white;
}

.form {
    padding: 30px;
    margin-top: 50px;
    margin-right: 90px;
    width: 240px;
    margin-left: 180px;
    align-items: center;
    justify-items: center;
    background-color: #eaeaea;
}

.labels {
    padding: 30px;
    font-size: 10px;
    line-height: 5px;
    font-family: PT Mono, monospace;
    font-weight: 300;
    opacity: 0.45;
    color: black !important;
}


.sso {
    width: 3rem;
}

.avatar {
    align-items: center;
    position: relative;
    background-color: #ffffff !important;
    color: #000000 !important;
}

.p {
    align-items: center;
    font-weight: bold;
    font-size: large;
    font-family: Optima sans-serif;
    margin-left: 280px;
    margin-top: 20px;
    justify-items: center;
    color: white;
}

.p1 {
    align-items: center;
    font-weight: bold;
    font-size: large;
    font-family: Optima sans-serif;
    margin-left: 320px;
    margin-top: 10px;
    margin-bottom: -10px;
    justify-items: center;
    color: white;
}

.passwordEye {
    color: black;
    opacity: 0.7;
}

.div {
    max-width: 40vw;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    margin: auto;
}

.paper {
    height: 100% !important;
    width: auto;
    background-color: transparent;
    /*max-width: 500px;*/
    /*border-radius: 5px;*/
    position: relative;
    align-self: center;
    /*padding: 3rem;*/
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.smalltext {
    color: #7d7d7d;
    margin: 0.5rem !important;
    font-size: 0.9rem !important;
}

.inputbox {
    min-width: 100%;
    border: white !important;
}

.inputboxmini {
    min-width: 100%;
}

.form {
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
}

.labels {
    padding: 30px;
    font-size: 10px;
    line-height: 5px;
    font-family: PT Mono, monospace;
    font-weight: 300;
    opacity: 0.45;
    color: black !important;
}

.formctrl {
    width: 500px;
}

.inputs {
    position: relative;
    width: available;
    font-family: Cutive Mono, monospace;
    color: #7d7d7d;
    background-color: antiquewhite;
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid;
    box-shadow: 1px 2px 20px rgba(169, 198, 217, 0.29457423);
    border-color: black;
}

.button {
    width: 100%;
    color: #ffffff !important;
    font-weight: 400;
    min-height: 55px;
    background-color: #6f5ed4 !important;
    font-family: Raleway, sans-serif;
    overflow: hidden;
    border-radius: 5px;
    letter-spacing: 3px;
}

.button:disabled {
    border: 1px rgba(111, 94, 212, 0.58) solid !important;
    color: rgba(255, 255, 255, 0.53) !important;
    background-color: transparent !important;
    /*opacity: .8 !important;*/
}

.buttonsignup:disabled {
    margin-left: 70px;
}

.eyebutton:hover {
    cursor: pointer;
}


.minilink {
    cursor: pointer;
    color: #2a77f6;
}

.error {
    color: red;
    font-size: 0.7rem !important;
}

