.price {
    font-size: 2.3em;
    font-weight: 500;
    margin: 10px;
}

.animate {
    animation: animateKeyFrame 1s ease-in-out;
}

@keyframes animateKeyFrame {
    50.0% {
        color: white;
        transform: scale(1.02);
    }
}



